body{
    background-color: #8aed66;
    font-family: "Verdana";
}

#game {
    text-align: center;    
}

#game .how-to-play {
    font-size: 14pt;
}

#game .remaining-guesses {
    font-size: 20pt;
}

#game ul {
    list-style-type: none;
    display: inline-block;
    padding-inline-start: 0;
}

#game ul li{
    display: inline-block;
    padding: 10pt;
    margin: 2px;
    background-color: #FFFFFF;
    font-size: 20pt;
}

#game ul li.correct{
    background-color: #2fde38;    
}

#game ul li.wrong{
    background-color:#de352f;
}

#game .your-guesses
{
    display: none;
}